<% include partials/adminheader.ejs %>
<h1>Welcome You have Admin Rights</h1>
<p><h2>Options:</h2></p>
<ol>
    <li><form action ="/admin/course" method="GET">
        <button type = "submit">
        Course Options
    </button>
    </form>
    </li>
    <li><form action ="/admin/schedule" method="GET">
        <button type = "submit">
        Schedule Options
    </button>
    </form>
    </li>
    <li><form action ="/admin/resource" method="GET">
        <button type = "submit">
        Manage Resourses
    </button>
    </form>
    </li>
</ol>